doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ProjectTKPPL

    link(rel='stylesheet', type='text/css', href='css++/style.css')
    link(rel='stylesheet', type='text/css', href='css++/themes.css')
  style.
    .orion {
      background-repeat:no-repeat;
      background-size:110%;
      background-image:url(images/g1.jpg)
    }
    .rion {
      background-image: url('build/pp.jpg')
    }

 body.carousel.orion

    div
      article 

        section(style='background-repeat:no-repeat;background-size:100%;background-image:url(/g2.jpg)')
          h1(style='margin-top:-150px;') Welcome to our Persentation


        section
          h1 Artificial Inteligence
        section(style='background-repeat:no-repeat;background-image:url(images/g3.jpg);')
          h1(style='font-size:70px;color: white; margin-top: -180px; text-align: center; margin-left: -617px; width: 1276px; font-size: 90px;') artificial intelligence merupakan inovasi baru di bidang ilmu pengetahuan. Mulai ada sejak muncul komputer modern, yakni pada 1940 dan 1950. Ilmu pengetahuan komputer ini khusus ditujukan dalam perancangan otomatisasi tingkah laku cerdas dalam sistem kecerdasan komputer
      
        section
          h1(style='color: white; margin-top: -117px; text-align: center; margin-left: -961px; font-size: 90px; width: 1929px;') 
         
          

        section
          h1(style='color: white; margin-top: -208px; text-align: center; margin-left: -948px; font-size: 90px; width: 1908px;') aa
        section
          h1(style='color: white; margin-top: -208px; text-align: center; margin-left: -948px; font-size: 90px; width: 1908px;') bb
            </div>

    
       

      script(src='script++/bespoke.js')
      script(src='script++/demo.js')
