doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ProjectTKPPL
    link(rel='stylesheet', type='text/css', href='css++/style.css')
    link(rel='stylesheet', type='text/css', href='css++/themes.css')
  style.
    .orion {
      background-repeat:no-repeat;
      background-size:110%;
      background-image:url(images/g1.jpg)
    }
    .rion {
      background-image: url('build/pp.jpg')
    }

 body.carousel.orion

    div
      article 

        section(style='background-repeat:no-repeat;background-size:100%;background-image:url(/g2.jpg)')
          h1(style='margin-top:-200px; margin-left:-500px; width:1000px; color:aqua; font-style:italic; font-weight:bold') Team Doens't Exist
        
          h2(style='margin-top:100px; font-size:30px; color:aqua; font-style:italic; font-weight:bold') Harrys Kevlin
          h2(style='margin-top:135px; font-size:30px; color:aqua; font-style:italic; font-weight:bold') Davrin Natanael
          h2(style='margin-top:170px; font-size:30px; color:aqua; font-style:italic; font-weight:bold') Ridho Bastanta
          h2(style='margin-top:207px; font-size:30px; color:aqua; font-style:italic; font-weight:bold;') Alwandani


        section
          h1(style='font-size:400px; margin-left:-525px; color:aqua; margin-top:-140px;') Gatebox
          

        section(style='background-repeat:no-repeat;background-image:url(images/giphy.gif);')
          h1(style='color: cornflowerblue; margin-top: -120px; text-align: center; margin-left: -617px; width: 1276px; font-size: 160px;') Memangnya apa sih Gatebox itu?

         section 
          h2(style='color: white; margin-top: -55px;text-align: center; margin-left: 15px; width: 960px; font-size: 30px; color:aqua;') Gatebox adalah Virtual Home Robot. Jadi robot virtual yang diproyeksikan dalam sebuah tabung. Robot ini akan membantumu menjaga rumah, menyalakan alat elektronik, layaknya home assistant dari Google. Tabungnya sendiri dilengkapi berbagai sensor yang mendeteksi kondisi lingkungan, bahkan bisa tahu saat kamu sampai di rumah. Kamu juga bisa memproyeksikan MMD Vocaloid di tabung ini melalui kabel HDMI.
      
        section(style='background-repeat:no-repeat;background-image:url(images/g3.jpg);')
          h1(style='font-size:70px;color: white; margin-top: -180px; text-align: center; margin-left: -617px; width: 1276px; font-size: 90px;') Bagaimana sih Identitas Waifunya ?


        section  
          h2(style='color: white; margin-top: -55px;text-align: center; margin-left: 15px; width: 960px; font-size: 25px; color:aqua;') Karakter yang terlihat di iklan mesin ini bernama Azumi Hikari. Ia dilengkapi dengan berbagai macam sensor, Hikari dijanjikan bisa berinteraksi dengan sangat intensif dengan pemiliknya. Hikari bahkan memiliki kepribadian sendiri. Seperti tertulis di atas, dia memiliki hobi menonton anime, suka donat, dan membenci serangga. Mengingat Hikari bisa terhubung dengan ponsel atau TV via internet, mungkin ia bisa mengomentari tontonan pemiliknya. Kemungkinan yang menarik namun belum tersampaikan di video iklan. Untuk yang sudah mengincar Hikari sebagai pengganti pacar, satu yang perlu diperhatikan adalah ukurannya mini. Ia hanya dapat mewujud di dalam tabung proyeksi Gatebox, yang – seperti terlihat di iklan – tidak terlalu besar.

        section(style='background-repeat:no-repeat;background-image:url(images/g3.jpg);')
          h1(style='font-size:70px;color: white; margin-top: -180px; text-align: center; margin-left: -617px; width: 1276px; font-size: 90px;') Harga dan Tanggal Rilis


        section  
          h2(style='color: white; margin-top: -55px;text-align: center; margin-left: 15px; width: 960px; font-size: 25px; color:aqua;') Harga dari alat yang satu ini adalah 298.000 yen, atau sekitar 2.600 dolar. Bila dalam rupiah? Menurut hasil convert dengan Google hari ini sih 33 juta lebih. Tentunya, itu belum termasuk ongkos pengiriman. Jadi, 33 juta. Sama sekali bukan harga yang murah. Apalagi mengingat alat ini sebenarnya membutuhkan rumah yang siap dengan fitur Smart Home untuk bisa beraksi maksimal. Kabar baiknya sih alatnya sendiri baru akan riliss resmi Desember 2017, tepat satu tahun dari saat artikel ini ditulis.
          

        section(style='background-repeat:no-repeat;background-image:url(images/g3.jpg);')
          h1(style='font-size:70px;color: white; margin-top: -180px; text-align: center; margin-left: -617px; width: 1276px; font-size: 90px;')  Kelebihan GateBox


        section
          h2(style='color: white; margin-top: -55px;text-align: center; margin-left: 15px; width: 960px; font-size: 25px; color:aqua;') Kelebihan nya yaitu mulai dari membangunkan kalian saat pagi hari. Bisa membersihkan rumah dan menghidupkan lampu. Dia tidak hanya menjadi robot penjaga dan mengurus rumah saja. Gatebox juga bisa diajak berkomunikasi. Kamu mau curhat, bercerita keluh kesah, sampai memberi motivasi dan semangat kepada kalian. Itu semua dilakukan Gatebox dengan cara mengirim pesan ke smartphone saat kalian berada di luar rumah. Selain itu, alat ini juga bisa membalas perkataan kita saat kita sedang di dalam rumah.
          
        section(style='background-repeat:no-repeat;background-image:url(images/g3.jpg);')
          h1(style='font-size:70px;color: white; margin-top: -180px; text-align: center; margin-left: -617px; width: 1276px; font-size: 90px;')  Kekurangan Gatebox


        section
          h2(style='color: white; margin-top: -55px;text-align: center; margin-left: 15px; width: 960px; font-size: 40px; color:aqua;') Selintas, mungkin kamu akan berfikiran bahwa Gatebox dan teknologi AI yang punya kepribadian ini sangatlah keren. Namun, perkembangan arah teknologi AI yang terlalu “pintar” bisa-bisa malah bikin manusia malas berkomunikasi dan bersosialisasi secara langsung.
    

      script(src='script++/bespoke.js')
      script(src='script++/demo.js')
